.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

form {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

.kontak {
    text-align: left;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
}

li {
    list-style-type: none;
}

label {
    margin-right: 70px;
}

.btn {
    margin-left: 10px;
    text-align: left;
    margin-bottom: 10px;
}