body {
    margin: 0;
    padding: 0;
    background: url('pattern.jpg');
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

header {
    background-color: white;
}

header nav {
    float: right;
    text-decoration: none;
}

header li {
    display: inline;
    padding: 20px;
    color: royalblue;
}

a {
    text-decoration: none;
    color: royalblue;
}

.card {
    text-align: center;
    color: royalblue;
}

.artikel {
    text-align: left;
    margin: 5pt;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 2px;
}